{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'common/node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        html {
          font-size: 14px;
        }
        @media (min-width: 768px) {
          html {
            font-size: 16px;
          }
        }
        .container {
          max-width: 960px;
        }
        .header {
          max-width: 700px;
        }
    </style>
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
          <a href="{% url 'www:index' %}">Company name</a>
      </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'www:features' %}">Features</a>
        <a class="p-2 text-dark" href="{% url 'www:support' %}">Support</a>
        <a class="p-2 text-dark" href="{% url 'www:pricing' %}">Pricing</a>
      </nav>
      <a class="btn btn-outline-primary" target="_blank" href="{% url 'common:sign_up' %}">Sign up</a>
    </div>
    <div>
        <div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">
              {% block heading %}{% endblock %}
          </h1>
          <p class="lead">
              {% block lead %}{% endblock %}
          </p>
        </div>
        {% block main %}{% endblock %}
    </div>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="{% url 'www:resources' %}">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="{% url 'www:team' %}">Team</a></li>
              <li><a class="text-muted" href="{% url 'www:privacy' %}">Privacy</a></li>
              <li><a class="text-muted" href="{% url 'www:terms' %}">Terms</a></li>
              <li><a class="text-muted" href="{% url 'www:contact' %}">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </footer>
    <script src="{% static 'common/node_modules/jquery/dist/jquery.slim.min.js' %}"></script>
    <script src="{% static 'common/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
