{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'common/node_modules/startbootstrap-sb-admin-2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'common/node_modules/startbootstrap-sb-admin-2/dist/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
</head>
<body>
<div id="wrapper" class="container">
   <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">P R I Z M</a>
        </div>
        {% block nav_top %}{% endblock %}
        {% block nav_left %}{% endblock %}
        {% block nav_right %}{% endblock %}
   </nav>
   {% block main %}#{% endblock %}
</div>
<footer>copyright</footer>
<script src="{% static 'common/node_modules/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'common/node_modules/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>